{% extends "base.html" %}
{% block title %}
about
{% endblock %}
{% block content %}

<u><h2 style="color:rgb(240, 107, 107);">Available Services</h2></u>


    
<ul>
    <li>Digital Rectal Exam</li>
    <li>Wire Localization Biopsy of the Breast</li>
     <li>TB (Tuberculosis)</li> 
     <li>Skin Test</li>
    <li>Blood Testing</li>
    <li>Bone Scan</li>
    <li>Abdominal CT Scan</li>
    <li>Chest X-Ray</li>
    <li>Echocardiogram</li>
    <li>Radiation Therapy</li>
    <li>Urinalysis</li>
    <li>Throat Culture</li>
    <li>Screening for Birth Defects in Early Pregnancy</li>
    <li>Oxygen Saturation Test</li>
    <li>Electrophysiological Testing of the Heart</li>
  </ul>  
  

{% endblock %}