{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'frontp2.css' %}"/>
    

</head>
<div class="header">
<h1>MEDICAL DIAGNOSTIC SYSTEM</h1>
<h4 style="position: absolute ;left:1100px;top:40px;color:gray;">Call us@ 8219632580</h4>
</div>
<body>
<div class="topnav">

    <a href="/doctor">Add Doctor</a>
    <a href="/show">View Doctor</a>
    <a href="/Test">Tests</a>
    <a href="/showp">Patients</a>
    <a href="/showapp">Appointments</a>
    <a href="/testreport">Add Test Report</a>
    <a href="/showr">View Test Report</a>
    <a href="#" class="logout">Welcome {{user.username}}!</a>
    <a href="/logout">logout</a>
    
</div>

<div class="body-content">
        {% block content %}
        {% endblock %}
</div>   
   
    

</div>
</body>
</html>