{% extends 'base.html' %}
{% block title %}
HOME
{% endblock %}

{% block content %}
<h2 class="home2">We Are Committed to Your Health</h2>
<a style="position: absolute ; left:230px ;top:300px;width:155px; height:20px;border-style:outset outset;text-decoration:none;" href="/plogin">Make an appointment</a>
<h3 style="position: absolute ;left:50px;top:480px;color:blue" >Address:</h3>
<p style="position: absolute ;left:50px;top:500px;color:gray">Building No#45 ,JK Road ,Shimoga -577201</p>
{% endblock %}